.aut-main-container{
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 15px; */
    box-shadow: 0px 0px 15px 1px rgba(59, 59, 59, 0.861);
    display: flex;
    position: relative;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-container{
    width: 50%;
    height: 100%;
    /* background-color:rgb(121, 192, 126) ; */
}
.aut-container{
    width: 50%;
    height: 100%;
    /* background-color:rgb(218, 122, 122) ; */
}

.form{
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}
.aut-label{
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(57, 57, 78);
}
.aut-inp{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgba(119, 119, 255, 0.466);
    transition: 200ms;
    background-color: white;
    color: black;
}
.aut-inp:focus{
    outline: none;
    border-bottom: 2px solid rgb(66, 66, 255);
}
.aut-btn{
    margin-top: 30px;
    margin-left:auto ;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 12pt;
    background-color: rgb(70, 100, 200);
    color: rgb(255, 255, 255);
}
#move-aut-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(57, 57, 78);
    box-sizing: border-box;
    /* padding-left: 20px;
    padding-right: 20px; */
    color: white;
    outline: 2px solid white;
    transition: 200ms;
    font-size: 12pt;
    height: 50px;
    width: 200px;
}
#move-aut-btn:hover{
    background-color: white;
    color: rgb(57, 57, 78);
}
.move{
    height: 100%;
    width: 50%;
    background-color: rgb(57, 57, 78);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 400px; */
}
.move-left{
    animation: anim-move-left 800ms forwards;
}
.move-right{
    animation: anim-move-right 800ms forwards;
}
@keyframes anim-move-left{
    0%{
        left: 400px;
    }
    100%{
        left: 0px;
    }
}
@keyframes anim-move-right{
    0%{
        left: 0px;
    }
    100%{
        left: 400px;
    }
}

.move-left-btn{
    animation: anim-move-left-btn 800ms forwards;
}
@keyframes anim-move-left-btn{
    0%{
        width: 200px;
        height: 50px;
    }
    30%{
        width: 50px;
        height: 50px;
    }
    60%{
        width: 50px;
        height: 50px;
        border-radius: 100%;

    }
    100%{
        width: 200px;
        height: 50px;
    }
}
.move-right-btn{
    animation: anim-move-right-btn 800ms forwards;
}
@keyframes anim-move-right-btn{
    0%{
        width: 200px;
        height: 50px;
    }
    10%{
    }
    30%{
        width: 50px;
        height: 50px;
    }
    60%{
        width: 50px;
        height: 50px;
        border-radius: 100%;

    }
    100%{
        width: 200px;
        height: 50px;
    }
}

